<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Firebase Msgboard</title>
    <script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
      // Initialize Firebase
		var config = {
			apiKey: "AIzaSyBWwFFZEZR-B5vnbx844HYxk0erOWNuwV0",
			authDomain: "nodejs-messageboard.firebaseapp.com",
			databaseURL: "https://nodejs-messageboard.firebaseio.com",
			storageBucket: "nodejs-messageboard.appspot.com",
			messagingSenderId: "1058312940015"
		};
		firebase.initializeApp(config);
        // 建立 DB
        var database = firebase.database();  
        
        //將訊息存入database
        function push(msg, name) {
			var key = firebase.database().ref('message/').push({
				msg: msg,
				name: name,
			}).key;
			var updates={};
			updates['/message/'+key]=postData;
			return firebase.database().ref().update(updates);
        }          
        
        $(document).ready(function(){ 
            $("#push_test").click(function(){
                // $('#messagesDiv').empty();
                var name = $('#push_name').val();
                var msg = $('#push_msg').val();
                push(msg, name);
            }); 
        }); 

        //讀取資料
        function display_msg(id, name, msg){
            $("#messagesli").append("<li>我是誰: "+name+"</br> 留言說: "+msg+" </br><button id='"+id+"_delete' onclick='reloadPage()'>我要刪除!!</button><hr></li>")
        }
        //刪除資料
        function delete_msg(id){
            $("#"+id+"_delete").click(function(){
                firebase.database().ref().child('/message/'+id).remove();
            });
        }
        
        firebase.database().ref('/message/').once('value').then(function(snapshot) {
            var message = snapshot.val();
            
            $.each(snapshot.val(),function(k,v){
                display_msg(k,v.name, v.msg)
                delete_msg(k)
            })
        });
		
		function reloadPage() {
			window.location.reload();
		}
        
    </script>
    <style type="text/css">
        body {
            text-align: center;
            font-family: 'Nunito', sans-serif;
            color: #384047;
        }
        header{
            text-align: center;
        }
		
		h1{
			font-weight: 400;
			color: #fff;
			background: #202B4C;
			border-radius:8px;
		}
		
        input{
            width: 800px;
            margin-bottom: 20px;
            font-size: 18px;
        }
        textarea{
            width: 800px;
            height: 50px;
            font-size: 18px;
        }
        #messagesli{
			width: auto;
			line-height: 25px;
			font-size: 16px;
			font-family: 'Quicksand', sans-serif,'Noto Sans TC', sans-serif;
			color: #4A4A4A;
			border: 0px;
		
			margin-bottom: 20px;
			
			box-sizing: border-box;
		}
        ul{
			width: 800px;
			display: inline-block;
			text-align:center;
		}
        
        li{
			display: inline-block;
			border-left: 6px solid blue;
			background-color: lightgrey;
            width: 800px;
			list-style-type:none;
			text-align:center;
        }
		
		button{
			font-family: 'Quicksand', sans-serif,'Noto Sans TC', sans-serif;
			color: #fff;
			background: #202B4C;
			border-radius:8px;
			text-decoration: none;
			float: auto;
		}
    </style>
</head>
<body>
	<div class='wrap'>
    <header>
        <h1>留言板</h1>
    </header>
    <input type="text" id="push_name" placeholder="我是誰："></br>
    <textarea type="text" id="push_msg" placeholder="留言說"/></textarea></br>
    <button id="push_test" onclick="reloadPage()">我想說</button></br></br>
    
    <ul id='messagesli'>
        <li></li>
    </ul>

  </div>
  </body>
</html>